<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perti_Student Information</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 15px;
    }

    strong {
      color: #4CAF50;
    }

    /* Add more styles as needed */

    @media (max-width: 600px) {
      .container {
        width: 80%;
      }
    }
  </style>
</head>
<body>
  <%- include('Nav'); %>
  <div class="container">
    <h1>Hello :) <%= Perti_student.studentUsername %></h1>

    <ul>
      <li><strong>Email:</strong> <%= Perti_student.studentEmail %></li>
      <li><strong>Date of Birth:</strong> <%= Perti_student.studentDOB.toISOString().split('T')[0] %></li>
      <li><strong>Gender:</strong> <%= Perti_student.studentGender %></li>
    </ul>
  </div>

</body>
</html>
